// src/sass/variables.scss

// Globals
$border-radius-root: 6px;
$font-size-root: 14px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;

.page-not-found {
    margin: auto;
    width: 50%;

    .app{
        border: 0px solid transparent;
        margin: auto;
        #p{
            color: black;
        }
    }

}