.top-navigation-drawer {
  v-app {
    b-navbar {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }
  }

    b-navbar-brand {
      margin: 0;
      padding: 0;
      list-style: none;
   

    img{
      .d-inline-block{
      height: 41px;
      }
    }
  
  }
}