<section class="registration-page">
    <v-app>
        <v-content>
            <v-container
                    class="fill-height"
                    fluid>
                <v-row
                        align="center"
                        justify="center">
                    <v-col
                            cols="12"
                            sm="8"
                            md="4">
                        <v-card class="elevation-12">
                            <v-toolbar
                                    prominent
                                    src="@/assets/img/videoblocks.png"
                                    flat>
                                <v-toolbar-title>Registration Form</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form @submit.prevent="register" id="check-registration-form" v-model="valid">
                                    <v-text-field
                                            v-model="username"
                                            :rules="nameRules"
                                            :counter="10"
                                            label="Username"
                                            prepend-inner-icon="person"
                                            required
                                            outlined
                                    ></v-text-field>

                                    <v-text-field
                                            outlined
                                            v-model="password"
                                            :rules="passwordRules"
                                            label="Password"
                                            prepend-inner-icon="lock"
                                            required
                                    ></v-text-field>
                                    <v-card-actions>
                                        <v-btn type="cancel" class="error">Cancel</v-btn>
                                        <v-spacer></v-spacer>
                                        <v-btn type="submit" :disabled="!valid" form="check-registration-form">Submit</v-btn>
                                    </v-card-actions>
                                </v-form>
                            </v-card-text>
                           
                        </v-card>

                    </v-col>

                </v-row>
            </v-container>
        </v-content>
    </v-app>


</section>

